.miniMap {
    position: relative !important;
    width: 600px !important;
    height: 600px !important;
  }
.login-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    padding-top: 20px;
    border-radius: 10px;
    color: #2F2C23;
    font-family: 'Open Sans', sans-serif;
}

.form img{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
}

.form h2{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #E26368;
}

.form .input-group{
    position: relative;
}

.form .input-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background-color: transparent;
    color: inherit;

   
      
        
}
.error{
    transform: translateY(-1.5rem);
    color: rgb(255, 51, 0);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #000 !important;
}
.form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label{
    transform: translateY(-20px);
    color: #2F2C23;
    font-size: 0.8rem;
     background-color: transparent;
}

.form .input-group input:focus{
    background-color: transparent;
}
.submit-button{
    display: block;
    margin-left: auto;
   
}

@media (max-width: 700px) {
    .form{
        position: relative;
        width: 100%;
        max-width: 200px;
        padding: 0px 0px 0px;
        padding-top: 20px;
    }
  
}